:root {
  --white-color: rgb(255, 255, 255);
  --gray-color: #5e5f61;
  --lightgray-color: rgb(240, 241, 243);
  --lightgray-color2: #f9fafc;
  --lightgray-color3: rgb(230, 231, 233);
  --purple-color: #524fa1;

  --textbox-border-color: rgb(201, 202, 204);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
